# local .gitignore-file
ancs_client
ancs_client.h
ble_peripheral
ble_peripheral_sm_minimal
classic_test
gap_dedicated_bonding
gap_inquiry
gap_inquiry_and_bond
gatt_browser
l2cap_test
profile.h
sdp_bnep_query
sdp_general_query
sdp_rfcomm_query
spp_and_le_counter
spp_and_le_counter.h
spp_counter
spp_streamer