# .gitignore-file

*.o
*.*~
.netrc

include/btstack/version.h

.classpath
.project
.settings/
AndroidManifest.xml
CocoaTouch/
MSP-EXP430F5438-CC256x/
Makefile
Makefile.am
Makefile.in
Ports/
aclocal.m4
autom4te.cache/
ble/
bootstrap.sh
btstack-config.h
chipset-cc256x/
chipset-csr/
config-iphone.sh
config.guess
config.status
config.sub
config/
configure
configure.ac
docs/
eZ430-RF2560/
example/
gen/
ic_launcher-web.png
include/
java/
layout
m4/
package.sh
platforms/
proguard-project.txt
project.properties
project.xcodeproj/
res/
src/
test/
tools/
mtk/BTstackDaemon
mtk/BTstackDaemonRespawn
mtk/inquiry
mtk/le_scan
mtk/minimal_peripheral
mtk/rfcomm-echo
