*~
*.o
*.d
*.dSYM
*.aux
*.toc
*.out
*.pklg
*.fdb_latexmk
*.hex
*.a
*.dylib
*.bts
*.elf
*.map
.theos
.stamp
.bts
bluetooth_init_cc2560B_1.*_BT_Spec_4.1.c
bluetooth_init_cc2564B_1.*_BT_Spec_4.1.c
TIInit_11.8.32.c
initscripts_TIInit_6.7.16_bt_spec_4.1.c
*.jdebug
*.jdebug.user
cmake-build-*
build
build-asan
build-coverage
.vs
.vscode
enc_temp_folder
/test/map_test/PTS_MAP/MAP
/test/map_test/PTS_MAP/MAP_NEW
/test/map_test/PTS_MAP/MAP_OLD
/test/map_test/PTS_MAP/SIGDatabase
/test/map_test/PTS_MAP/implicit_send_log.txt
/test/map_test/PTS_MAP/le_security_info.txt
/test/map_test/PTS_MAP/link_key.txt
/test/map_test/PTS_MAP/PTS_Error.log
/test/map_test/PTS_MAP/Backup
/test/map_test/PTS_MAP/logfiles
