*~
*.o
*.d
*.dSYM
*.aux
*.toc
*.out
*.pklg
*.fdb_latexmk
*.hex
*.a
*.dylib
*.bts
*.elf
*.map
.theos
.stamp
.bts
bluetooth_init_cc2560B_1.*_BT_Spec_4.1.c
bluetooth_init_cc2564B_1.*_BT_Spec_4.1.c
TIInit_11.8.32.c
initscripts_TIInit_6.7.16_bt_spec_4.1.c
*.jdebug
*.jdebug.user
cmake-build-*
build
build-asan
build-coverage
