Package: ch.ringwald.wiimoteopengldemo
Version: 1.1
Name: WiiMote OpenGL-ES Demo
Description: BTstack Demo
 This demo shows how a virtual WiiMote can mirror
 the behavior of a real one thanks to the open-source
 BTstack Bluetooth Stack. A WiiMote is needed!
Section: Networking
Architecture: iphoneos-arm
Homepage: http://code.google.com/p/btstack/
Depends: ch.ringwald.btstack
Maintainer: Matthias Ringwald <iphone@ringwald.ch>
Author: Matthias Ringwald <iphone@ringwald.ch>
