Package: ch.ringwald.springboardaccess
Name: SpringBoardAccess
Description: Controls status bar icons from daemons
Section: Networking
Architecture: iphoneos-arm
Depends: mobilesubstrate (>= 0.9.5101), firmware (<< 4.0) | libstatusbar (>= 0.9.8.4)
Author: Mattthias Ringwald <tickets@btstack.uservoice.com>
Maintainer: Mattthias Ringwald <tickets@btstack.uservoice.com>
Section: Development
Version: 0.4
