menu "BTstack Configuration"

config BTSTACK_AUDIO
    bool "I2S Audio driver"
    default n
    help
        Select this option to enable BTstack's audio driver

config BTSTACK_INTERNAL_BT
    visible if BT_CONTROLLER_ONLY
    bool "Support for SoC Bluetooth"
    default y if BT_CONTROLLER_ONLY
    default n
    help
        Select this option to enable the chips build in
        Bluetooth support

config BTSTACK_HCI_DUMP_STDOUT
    bool "Dump HCI traffic to stdout"
    default n
    help
        For debugging purpose this will output all received
        and send packages

menuconfig BTSTACK_EXTERNAL_UART_BT
    bool "Support for externally connected UART Bluetooth modules"
    default n
    help
        Select this option if you want to be able to connect
        to a dedicated external Bluetooth module

if BTSTACK_EXTERNAL_UART_BT
    config BTSTACK_UART_NUM
        int "UART to use"
        default 0
    config BTSTACK_UART_INVERT_RTS
        bool "Invert RTS"
        default n
    config BTSTACK_UART_TX_PIN
        int "Pin number for TX"
        default -1
    config BTSTACK_UART_RX_PIN
        int "Pin number for RX"
        default -1
    config BTSTACK_UART_RTS_PIN
        int "Pin number for RTS"
        default -1
    config BTSTACK_UART_CTS_PIN
        int "Pin number for CTS"
        default -1
    config BTSTACK_UART_NRESET_PIN
        int "Pin number for nReset"
        default -1
    config BT
endif

endmenu
